In [4]:
import pandas as pd
loans_2011 = pd.read_csv('LoanStats3a.csv',skiprows=1)
half_count = len(loans_2011)//2
loans_2011 = loans_2011.dropna(thresh=half_count, axis=1)
loans_2011 = loans_2011.drop(['desc'], axis=1)
loans_2011.to_csv('loans_2011.csv')

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
loans_2011 = pd.read_csv('loans_2011.csv')
loans_2011.drop_duplicates()
print(loans_2011.iloc[0])
print(loans_2011.shape[1])

loan_amnt                            5000
funded_amnt                          5000
funded_amnt_inv                      4975
term                            36 months
int_rate                           10.65%
installment                        162.87
grade                                   B
sub_grade                              B2
emp_title                             NaN
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
issue_d                          Dec-2011
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
zip_code                            860xx
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
out_prncp                               0
out_prncp_inv                           0
total_pymnt                       5863.16
total_pymnt_inv                   5833.84
total_rec_prncp                      5000
total_rec_int                      863.16
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_d                     Jan-2015
last_pymnt_amnt                    171.62
last_credit_pull_d               Jun-2018
collections_12_mths_ex_med              0
policy_code                             1
application_type               Individual
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
hardship_flag                           N
disbursement_method                  Cash
debt_settlement_flag                    N
Name: 0, dtype: object
53

In [16]:
loans_2011 = loans_2011.drop(["funded_amnt", "funded_amnt_inv", "grade", "sub_grade", "emp_title", "issue_d"], axis=1)

In [17]:
loans_2011 = loans_2011.drop(["zip_code", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp"],axis=1)

In [19]:
loans_2011 = loans_2011.drop(["total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt"], axis=1)
print(loans_2011.iloc[0])
print(loans_2011.shape[1])

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Jun-2018
collections_12_mths_ex_med              0
policy_code                             1
application_type               Individual
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
hardship_flag                           N
disbursement_method                  Cash
debt_settlement_flag                    N
Name: 0, dtype: object
35

In [20]:
loans_2011.loan_status.value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [21]:
status_replace = {
    'loan_status': {
        'Fully Paid': 1,
        'Charged Off': 0,
        'Does not meet the credit policy. Status:Fully Paid': 1,
        'Does not meet the credit policy. Status:Charged Off': 0
    }
}
loans_2011 = loans_2011.replace(status_replace)

In [22]:
loans_2011.loan_status.value_counts()

1.0    36104
0.0     6431
Name: loan_status, dtype: int64

In [23]:
orig_columns = loans_2011.columns
drop_columns = []
for col in orig_columns:
    col_series = loans_2011[col].dropna().unique()
    if len(col_series) == 1:
        drop_columns.append(col)
loans_2011 = loans_2011.drop(drop_columns, axis=1)
print(drop_columns)

['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'chargeoff_within_12_mths', 'hardship_flag', 'disbursement_method']

In [24]:
print(loans_2011.shape)

(42538, 27)

In [25]:
loans_2011.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1.0,credit_card,...,0.0,13648.0,83.7%,9.0,Jun-2018,0.0,0.0,0.0,0.0,N
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0.0,car,...,0.0,1687.0,9.4%,4.0,Oct-2016,0.0,0.0,0.0,0.0,N
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1.0,small_business,...,0.0,2956.0,98.5%,10.0,Jun-2017,0.0,0.0,0.0,0.0,N
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1.0,other,...,0.0,5598.0,21%,37.0,Apr-2016,0.0,0.0,0.0,0.0,N
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,1.0,other,...,0.0,27783.0,53.9%,38.0,Apr-2018,0.0,0.0,0.0,0.0,N

In [26]:
loans_2011.to_csv('filtered_loans_2011.csv')

In [58]:
loans_2011 = pd.read_csv('filtered_loans_2011.csv')
null_counts = loans_2011.isnull().sum()
print(null_counts)

Unnamed: 0                 0
loan_amnt                  3
term                       3
int_rate                   3
installment                3
emp_length              1115
home_ownership             3
annual_inc                 7
verification_status        3
loan_status                3
purpose                    3
title                     16
addr_state                 3
dti                        3
delinq_2yrs               32
earliest_cr_line          32
inq_last_6mths            32
open_acc                  32
pub_rec                   32
revol_bal                  3
revol_util                93
total_acc                 32
last_credit_pull_d         7
acc_now_delinq            32
delinq_amnt               32
pub_rec_bankruptcies    1368
tax_liens                108
debt_settlement_flag       3
dtype: int64

In [59]:
loans_2011 = loans_2011.drop(['pub_rec_bankruptcies'],axis=1)
loans_2011 = loans_2011.dropna(axis=0)
null_counts_2 = loans_2011.isnull().sum()
print(null_counts_2)

Unnamed: 0              0
loan_amnt               0
term                    0
int_rate                0
installment             0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
title                   0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
last_credit_pull_d      0
acc_now_delinq          0
delinq_amnt             0
tax_liens               0
debt_settlement_flag    0
dtype: int64

In [60]:
print(loans_2011.dtypes.value_counts())

float64    14
object     12
int64       1
dtype: int64

In [61]:
object_colunms_df = loans_2011.select_dtypes(include=['object'])
print(object_colunms_df.iloc[0])

term                      36 months
int_rate                     10.65%
emp_length                10+ years
home_ownership                 RENT
verification_status        Verified
purpose                 credit_card
title                      Computer
addr_state                       AZ
earliest_cr_line           Jan-1985
revol_util                    83.7%
last_credit_pull_d         Jun-2018
debt_settlement_flag              N
Name: 0, dtype: object

In [62]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'debt_settlement_flag', 'term', 'addr_state']
for c in cols:
    print(loans_2011[c].value_counts())

RENT        19662
MORTGAGE    18439
OWN          3010
OTHER         134
NONE            2
Name: home_ownership, dtype: int64
Not Verified       18165
Verified           12992
Source Verified    10090
Name: verification_status, dtype: int64
10+ years    9355
< 1 year     5003
2 years      4727
3 years      4354
4 years      3633
1 year       3567
5 years      3449
6 years      2368
7 years      1868
8 years      1587
9 years      1336
Name: emp_length, dtype: int64
N    41099
Y      148
Name: debt_settlement_flag, dtype: int64
 36 months    30530
 60 months    10717
Name: term, dtype: int64
CA    7227
NY    3936
FL    2992
TX    2849
NJ    1952
IL    1631
PA    1610
GA    1454
VA    1454
MA    1386
OH    1291
MD    1102
AZ     881
WA     852
CO     829
NC     797
CT     790
MI     761
MO     734
MN     626
NV     510
WI     493
SC     481
AL     464
OR     452
LA     450
KY     353
OK     310
KS     285
UT     271
AR     250
DC     222
RI     206
NM     199
NH     178
WV     177
HI     176
DE     132
MT      89
AK      84
WY      82
SD      65
VT      57
TN      32
MS      26
IN      15
IA      12
NE      11
ID       9
ME       2
Name: addr_state, dtype: int64

In [63]:
print(loans_2011['purpose'].value_counts())
print(loans_2011['title'].value_counts)

debt_consolidation    19324
credit_card            5317
other                  4205
home_improvement       3089
major_purchase         2230
small_business         1939
car                    1558
wedding                 990
medical                 724
moving                  598
house                   410
educational             400
vacation                365
renewable_energy         98
Name: purpose, dtype: int64
<bound method IndexOpsMixin.value_counts of 0                                        Computer
1                                            bike
2                            real estate business
3                                        personel
4                                        Personal
5           My wedding loan I promise to pay back
6                                            Loan
7                                 Car Downpayment
8            Expand Business & Buy Debt Portfolio
9                     Building my credit history.
10                     High intrest Consolidation
11                                  Consolidation
12                                        freedom
13                                  citicard fund
14                                     Other Loan
15                        Debt Consolidation Loan
16                                           Home
17                                        Holiday
18                                        Medical
19            lowerratemeanseasiertogetoutofdebt!
20                      Freedom From Credit Cards
21                                   Debt Cleanup
22                               Credit Card Loan
23                             Debt Consolidation
24                                           cash
25                      No more credit card debt!
26                                  consolidation
27                                          Other
28                             Debt Consolidation
29                     Credit card repayment loan
                           ...
42440                        Graduate School Fund
42441                  You know you want to peek!
42442            Looking to Refinance Credit Card
42443    0 Lates Debt Consolidation. Improve Scre
42444                                 CAR REPAIRS
42445                                College Loan
42446                        tuirtion and housing
42448                      Re-Fi $15K Credit Card
42449                       Refinance Credit Card
42453           Purchasing additional client base
42454                         Path to Recovery...
42455             Refinance High Rate Credit Card
42456                                consolidate
42457                    refinancing credit cards
42458             Refinance high rate credit card
42459     Need just $2,500 to pay off three cards
42461                                     loan #1
42463                                consolidate
42464                    refinancing credit cards
42466             Credit Card Trap--Need Escape!
42467                  Costing me $715pcm to rent
42468             Help Fund For Car and Education
42469                                 LAWYER FEES
42470          Gettin Rid of High Interest C.C.'s
42471                      Pay off College Debts
42472                                    Car loan
42474                                    Personal
42476         Refinancing my car at a better rate
42477         Consolidating my high interest cc's
42478                               Clearing debt
Name: title, Length: 41247, dtype: object>

In [64]:
loans_2011 = loans_2011.drop(["last_credit_pull_d", "earliest_cr_line", "addr_state", "title"], axis=1)
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
    }
}
loans_2011['int_rate'] = loans_2011['int_rate'].str.rstrip('%').astype('float')
loans_2011['revol_util'] = loans_2011['revol_util'].str.rstrip('%').astype('float')
loans_2011 = loans_2011.replace(mapping_dict)

In [65]:
loans_2011.emp_length.value_counts()

10    9355
0     5003
2     4727
3     4354
4     3633
1     3567
5     3449
6     2368
7     1868
8     1587
9     1336
Name: emp_length, dtype: int64

In [66]:
object_colunms_df = loans_2011.select_dtypes(include=['object'])
print(object_colunms_df.iloc[0])

term                      36 months
home_ownership                 RENT
verification_status        Verified
purpose                 credit_card
debt_settlement_flag              N
Name: 0, dtype: object

In [67]:
cat_columns = ["home_ownership", "verification_status", "purpose", "term", 'debt_settlement_flag']
dummy_df = pd.get_dummies(loans_2011[cat_columns])
loans_2011 = pd.concat([loans_2011, dummy_df], axis=1)
loans_2011 = loans_2011.drop(cat_columns, axis=1)

In [79]:
loans_2011 = loans_2011.drop(['Unnamed: 0'], axis=1)

In [80]:
loans_2011.columns

Index(['loan_amnt', 'int_rate', 'installment', 'emp_length', 'annual_inc',
       'loan_status', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'acc_now_delinq',
       'delinq_amnt', 'tax_liens', 'home_ownership_MORTGAGE',
       'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN',
       'home_ownership_RENT', 'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding', 'term_ 36 months',
       'term_ 60 months', 'debt_settlement_flag_N', 'debt_settlement_flag_Y'],
      dtype='object')

In [81]:
loans_2011.to_csv('cleaned_loans_2011.csv', index=False)

In [82]:
loans = pd.read_csv('cleaned_loans_2011.csv')
loans.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,debt_settlement_flag_N,debt_settlement_flag_Y
0,5000.0,10.65,162.87,10,24000.0,1.0,27.65,0.0,1.0,3.0,...,0,0,0,0,0,0,1,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0.0,1.00,0.0,5.0,3.0,...,0,0,0,0,0,0,0,1,1,0
2,2400.0,15.96,84.33,10,12252.0,1.0,8.72,0.0,2.0,2.0,...,0,0,0,1,0,0,1,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1.0,20.00,0.0,1.0,10.0,...,0,1,0,0,0,0,1,0,1,0
4,3000.0,12.69,67.79,1,80000.0,1.0,17.94,0.0,0.0,15.0,...,0,1,0,0,0,0,0,1,1,0

In [83]:
loans.loan_status.value_counts()

1.0    35093
0.0     6154
Name: loan_status, dtype: int64

In [84]:
print(loans.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41247 entries, 0 to 41246
Data columns (total 43 columns):
loan_amnt                              41247 non-null float64
int_rate                               41247 non-null float64
installment                            41247 non-null float64
emp_length                             41247 non-null int64
annual_inc                             41247 non-null float64
loan_status                            41247 non-null float64
dti                                    41247 non-null float64
delinq_2yrs                            41247 non-null float64
inq_last_6mths                         41247 non-null float64
open_acc                               41247 non-null float64
pub_rec                                41247 non-null float64
revol_bal                              41247 non-null float64
revol_util                             41247 non-null float64
total_acc                              41247 non-null float64
acc_now_delinq                         41247 non-null float64
delinq_amnt                            41247 non-null float64
tax_liens                              41247 non-null float64
home_ownership_MORTGAGE                41247 non-null int64
home_ownership_NONE                    41247 non-null int64
home_ownership_OTHER                   41247 non-null int64
home_ownership_OWN                     41247 non-null int64
home_ownership_RENT                    41247 non-null int64
verification_status_Not Verified       41247 non-null int64
verification_status_Source Verified    41247 non-null int64
verification_status_Verified           41247 non-null int64
purpose_car                            41247 non-null int64
purpose_credit_card                    41247 non-null int64
purpose_debt_consolidation             41247 non-null int64
purpose_educational                    41247 non-null int64
purpose_home_improvement               41247 non-null int64
purpose_house                          41247 non-null int64
purpose_major_purchase                 41247 non-null int64
purpose_medical                        41247 non-null int64
purpose_moving                         41247 non-null int64
purpose_other                          41247 non-null int64
purpose_renewable_energy               41247 non-null int64
purpose_small_business                 41247 non-null int64
purpose_vacation                       41247 non-null int64
purpose_wedding                        41247 non-null int64
term_ 36 months                        41247 non-null int64
term_ 60 months                        41247 non-null int64
debt_settlement_flag_N                 41247 non-null int64
debt_settlement_flag_Y                 41247 non-null int64
dtypes: float64(16), int64(27)
memory usage: 13.5 MB
None

In [86]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_predict, KFold
lr = LogisticRegression()
cols = loans.columns
train_cols = cols.drop('loan_status')
features = loans[train_cols]
target = loans['loan_status']
kf = KFold(features.shape[0], random_state=1)
predictions = cross_val_predict(lr, features, target, cv=kf)
predictions = pd.Series(predictions)

# False positives.
fp_filter = (predictions == 1) & (loans["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (loans["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (loans["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (loans["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / float((tp + fn))
fpr = fp / float((fp + tn))

print(tpr)
print(fpr)
print(predictions[:20])

0.9992021200809278
0.9988625284367891
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
dtype: float64

In [88]:
lr = LogisticRegression(class_weight='balanced')
kf = KFold(features.shape[0], random_state=1)
predictions = cross_val_predict(lr, features, target, cv=kf)
predictions = pd.Series(predictions)

# False positives.
fp_filter = (predictions == 1) & (loans["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (loans["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (loans["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (loans["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / float((tp + fn))
fpr = fp / float((fp + tn))

print(tpr)
print(fpr)

0.6786823583050751
0.39714007149821257

In [92]:
penalty = {
    0: 5,
    1: 1
}

lr = LogisticRegression(class_weight=penalty)
kf = KFold(features.shape[0], random_state=1)
predictions = cross_val_predict(lr, features, target, cv=kf)
predictions = pd.Series(predictions)

# False positives.
fp_filter = (predictions == 1) & (loans["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (loans["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (loans["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (loans["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / float((tp + fn))
fpr = fp / float((fp + tn))

print(tpr)
print(fpr)

0.724275496537771
0.4601884952876178

In [96]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10,class_weight='balanced', random_state=1)
#print help(RandomForestClassifier)
kf = KFold(features.shape[0], random_state=1)
predictions = cross_val_predict(rf, features, target, cv=kf)
predictions = pd.Series(predictions)

# False positives.
fp_filter = (predictions == 1) & (loans["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (loans["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (loans["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (loans["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / float((tp + fn))
fpr = fp / float((fp + tn))

print(tpr)
print(fpr)

0.9763770552531844
0.9224894377640559