In [5]:
import pandas as pd
import numpy as np
import datetime
import pandas_datareader.data as pdr

In [8]:
rng = pd.date_range('2018-07-01', periods=10, freq='H')
rng

DatetimeIndex(['2018-07-01 00:00:00', '2018-07-01 01:00:00',
               '2018-07-01 02:00:00', '2018-07-01 03:00:00',
               '2018-07-01 04:00:00', '2018-07-01 05:00:00',
               '2018-07-01 06:00:00', '2018-07-01 07:00:00',
               '2018-07-01 08:00:00', '2018-07-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [9]:
time = pd.Series(np.random.randn(20), index=pd.date_range(dt.datetime(2016,1,1), periods=20))
print(time)

2016-01-01   -0.396596
2016-01-02    0.590152
2016-01-03    0.642928
2016-01-04   -1.262369
2016-01-05    0.176353
2016-01-06   -0.424331
2016-01-07    0.899320
2016-01-08   -1.571912
2016-01-09   -0.163346
2016-01-10   -0.198926
2016-01-11    0.794953
2016-01-12    1.985907
2016-01-13   -0.074330
2016-01-14    1.793055
2016-01-15   -0.855210
2016-01-16   -1.053449
2016-01-17    0.306580
2016-01-18   -0.411992
2016-01-19   -1.539566
2016-01-20    1.436999
Freq: D, dtype: float64

In [8]:
start = datetime.datetime(2018, 1, 1) # or start = '1/1/2016'
end = datetime.date.today()
pdr.get_data_fred('GS10',start, end)

            GS10
DATE
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91